@model int

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Название модали</h4>
            </div>
            <div class="modal-body">
                <small>Введите id группы</small><br />
                <input type="text" id="groupId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <input type="submit" id="addGroupB" class="btn btn-primary" value="Сохранить изменения" />
                <script type="text/javascript">
                    $('#addGroupB').click(function () {
        addGr(@Model);
    })
                    
                </script>
            </div>
        </div>
    </div>
</div>