@model IEnumerable<MvcWebRole1.Models.Group>
@using MvcWebRole1.Models
@{
    int i = 0;
    if (Model != null)
    {
        <small>Группы:</small>
        foreach (Group gr in Model)
        {
            String buttonIdName = "DeleteGr" + i;
            String funcName = "deleteGroup" + i;
            <div>
                @{
            String g_name = Html.Action("getGroupName", "Facebook", new { group_id = gr.ID_GROUP, socId = gr.ID_AC }).ToString();
            String g_url = "https://www.facebook.com/groups/" + gr.ID_GROUP;
            <a href="@g_url">@g_name</a>
                }
                <small class="pull-right"> <input type="button" id="@buttonIdName" value="Удалить группу" /> </small>
                <script type="text/javascript">
                    $('#@buttonIdName').click(function () {
        deleteGr(@gr.ID);
    })
                    function deleteGr(funcGroupId) {
                        $.get("/Social/deleteGroup", { groupID: funcGroupId })
                        $.ajax({
                            success: function (result) {
                                reloadView();
                            }
                        });

                    }
    function reloadView() {
        $('#groups').load("/Tool/GetGroupsPartial");
    }
                </script>

            </div>
    <hr />
    <br />
            i++;
        }
        
    }
}
</script>