@using MvcWebRole1.Models;
@model SocAccount

@{
    if (Model != null)
    {
        String imgUrl = Html.Action("GetSocAccProfileImg", "Vkontakte", new { token = Model.TOKEN }).ToString();
        <div class="row">
            <div class="col-md-6">
                <img src="@imgUrl" class="img-circle">
                </div>
            <div class="col-md-6">
                @{
        String name = Html.Action("GetSocAccName", "Vkontakte", new { token = Model.TOKEN }).ToString();
        }
                <h2>@name</h2>
            </div>
            </div>
    }
}
