@model IEnumerable<MvcWebRole1.Models.SocAccount>
@{
    ViewBag.Title = "Social Account Manage";
    Layout = "~/Views/Tool/ToolLayout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
<br />
<h1>Social Account Manage<small>Настройте свои социальные аккаунты</small></h1>

<div class="row">
    <div class="soc-acc col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Аккаунт <img class="socIcoVk" src="~/Content/socIco/vk.png" /></div>
            <div class="panel-body">
                <div class="pull-left">
                </div>
                <!--Аккаунт VK-->
                @{Html.RenderAction("GetVkSocInfoPartial");}
            </div>
        </div>




    </div>

    <div class="soc-acc col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Добавить FB аккаунт</div>
            <div class="panel-body">
                <div class="pull-left">
                    <img class="socIcoVk" src="~/Content/socIco/facebook.png" />
                </div>
                @using (Html.BeginForm("Auth", "Facebook", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-primary btn-lg">Добавить<span class="glyphicon glyphicon-plus-sign" /></button>
                }
            </div>
        </div>
        <!--Перечисление акканутов FB-->


    </div>
</div>
