.logInButton{
border: none; 
background-color: #fff; 
padding: 0; 
margin: 0; 
width: 5em; 
}
.logInButton:hover { 
text-decoration: underline; 
} 

.menu-block-items{
    display:inline-block;
    padding:0 10px 0 10px;
}

.center-menu{
    margin-left:100px;
    margin-right:100px;
}

.center-block{
display:block; text-align:center; margin:0 auto;
}


.ss-container{
    padding:10px;
    background-color:#d7eaff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ss-container:hover{
    transition-duration:0.5s;
    background-color:rgba(215, 234, 255, 0.55);
}

.blackhr{
    border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
    margin: 15px 10px 10px 10px;
}

.gear-button{
    position:absolute;
    top:5px;
    left:10px;
    width:50px;
    height:50px;
}
.gear-button-group{
    position:absolute;
    right: 15px;
    width:50px;
    height:50px;
}
.add-button{
    position:absolute;
    top:10px;
    right:10px;
    width:40px;
    height:40px;
}
.gear-button:hover, .add-button:hover, .gear-button-group:hover{
    transition-duration:0.35s;
    filter: brightness(0.2);
    -webkit-filter: brightness(0.2);
    -moz-filter: brightness(0.2);
    -o-filter: brightness(0.2);
    -ms-filter: brightness(0.2);
    cursor: pointer;
}
.gear-button:focus, .add-button:focus, .gear-button-group{
    outline:none;
}


.ss-container .ss-header
{
    padding:0px;
}

.stat-body
{
    font-size:0.75em;
}

.group-name{
    position:absolute;
    padding:10px;
}
.group-header{
    height:55px;
}

.post-photo{
    height:50px;
    width:50px;
    position:relative;
    cursor: pointer;
    margin:10px;
}

.profile-name{
    display:inline;
    font-size: 14px;
    font-weight:800;
}

.post-time{
    position:relative;
    text-align:right;
    padding:0px 10px;
    display:inline;
    font-size: 12px;
}
.post{
    border:solid;
    border-width:1px;
    padding:0;
    margin:10px 0 10px 0;
    background-color:#d7eaff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.social-list{
    padding:10px 0;

}

.vk-image{
    width: 32%;
    height: auto;
}
.vk-image-container{
    text-align:center;
    margin-bottom: 10px;
}