<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://saasforus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>saasforus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>saasforus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$saasforus</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:v6lyck5xnz.database.windows.net,1433;Initial Catalog=saas4us_db-2015-9-8-13-10;Integrated Security=False;User ID=Saas4us@v6lyck5xnz;Password=s4uPASSWORD;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:v6lyck5xnz.database.windows.net,1433;Initial Catalog=saas4us_db-2015-9-8-13-10;Integrated Security=False;User ID=Saas4us@v6lyck5xnz;Password=s4uPASSWORD;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcWebRole1.Models.DatabaseContext, MvcWebRole1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureStorageAccount" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=saas4usstorage;AccountKey=VFkwqKbU7AGoBTWpfDrPhHRG7LJ77iG67fDpR/dv3m9ZW1kb4YR+6KuNQ++7Hpw0ja17Vo2vsFH94yYuls+TOw==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageAccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=saas4usstorage;AccountKey=VFkwqKbU7AGoBTWpfDrPhHRG7LJ77iG67fDpR/dv3m9ZW1kb4YR+6KuNQ++7Hpw0ja17Vo2vsFH94yYuls+TOw==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageAccount-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:v6lyck5xnz.database.windows.net,1433;Initial Catalog=saas4us_db-2015-9-8-13-10;Integrated Security=False;User ID=Saas4us@v6lyck5xnz;Password=s4uPASSWORD;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>