@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/clean-blog.css" rel="stylesheet">
    <link href="~/Content/css/ihover.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Do marketing now!</title>
</head>
<body>
    <header class="tool-header" style="background-image: url('/Content/img/home/home-bg.jpg')">
        <div class="center-menu">
            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="/Tool/SocStudio">
                        <div class="img"><img src="~/Content/img/home/post-sample-image.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Управление соц сетями</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/img/home/post-sample-image.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>E-mail</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/img/home/contact-bg.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Автомат. маркетинга</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="/ContentView/Index">
                        <div class="img"><img src="~/Content/img/home/about-bg.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Управление контентом</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/img/home/post-bg.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Календарь</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/img/home/home-bg.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>БД клиентов</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/img/home/post-sample-image.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Статистика</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="menu-block-items">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/img/home/post-sample-image.jpg" alt="img"></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Настройка</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </header>


    @RenderBody()
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>
