@{
    Layout = "~/Views/Tool/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h2> Тут будет симатичнейший dashboard<small> Ну просто очень крутой</small></h2>
            <hr/>
         </div>
        <div class="col-md-4">

        </div>
    </div>
</div>