@{
    ViewBag.Title = "SocStudio";
    Layout = "~/Views/Tool/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!--Vkontakte-->
        <div class="col-md-4 ss-container">
            <h2 class="center-block">Vkontakte</h2>
            <hr class="blackhr" />

            <input type="submit" class="btn btn-success center-block" value="Добавить аккаунт" />

        </div>
        <!--Facebook-->
        <div class="col-md-4 ss-container">
            <h2 class="center-block">Facebook</h2>
            <hr class="blackhr" />

        </div>
        <!--Twitter-->
        <div class="col-md-4 ss-container">
            <h2 class="center-block">Twitter</h2>
            <hr class="blackhr" />



        </div>
    </div>
</div>
