@using MvcWebRole1.Models
@using MvcWebRole1.Controllers
@model Newsfeed

@{
    foreach (IVKPost post in Model.feed)
    {
        <div class="post">
        @switch (post.GetType().Name)
        {
            case "Post":
                Post pst = (Post)post;
                IProfile profile = Model.getProfileById(pst.idFrom);
                String text = pst.text;
                String date = pst.date.Day + "." + pst.date.Month + "." + pst.date.Year + "/" + pst.date.Hour + ":" + pst.date.Minute;
                Html.RenderPartial("VkPostPartial", profile);
                
                <div class="post-time">@date</div>
                <hr class="blackhr"/>
                <div class="post-text">@Html.Raw(text)</div>
                if (post.attach!=null)
                {
                    Html.RenderPartial("VkPostAttachmentPartial", post.attach);
                }
                break;
        }
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.vk-image').click(function () {
            var url_ = "/Tool/VkImageViewPartial"; // the url to the controller
            var id = $(this).attr('data-id');
            var owner_id = $(this).attr('data-owner_id');
            var url = $(this).attr('src');

            $.get(url_ + '?id=' + id + '&owner_id=' + owner_id + '&photo_maxSize_url=' + url, function (data) {
                $('#image-view').html(data);
                $('#image-view').modal('show');
            });
        });
    });
    /*$('.vk-image').click(function () {
        alert('qweqwe');
    });*/
</script>

