@using MvcWebRole1.Controllers
@model VkImageViewModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body vk-image-container">
            <img src="@Model.photo_maxSize_url">
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse" type="submit">Save</button>
        </div>
    </div>
</div>

