@model List<MvcWebRole1.Models.Group>
@using MvcWebRole1.Controllers
@using MvcWebRole1.Models



<input type="submit" value="Показать новостную ленту" />
<select name="vkGroup">
    <option disabled>Выбрать группу</option>
    @{
        foreach (var group in Model)
        {
            <option value="@group.ID">@VKWorker.getGroupName(group)</option>
        }
    }
</select>

<div id="content">


</div>








