@model List<MvcWebRole1.Models.Group>
@using MvcWebRole1.Controllers
@using MvcWebRole1.Models


<ul class="nav nav-tabs nav-justified">
    <li class="active"><input</li>
    <li><a href="#"><h4>Группы</h4></a></li>
</ul>

<script type="text/javascript">
    $('ul.nav.nav-tabs.nav-justified li').click(function () {
        $(this).siblings('.active').removeClass('active');
        $(this).addClass('active');
    });
</script>



<select name="vkGroup">
    <option disabled>Выбрать группу</option>
    @{
        foreach (var group in Model)
        {
            <option value="@group.ID">@VKWorker.getGroupName(group)</option>
        }
    }
</select>

<div id="content">


</div>








