@using MvcWebRole1.Models
@using MvcWebRole1.Controllers
@model List<IAttachments>

@{
    // Images
    <div class="vk-image-container">
        @foreach(IAttachments attachment in Model)
        {
            if(attachment.GetType().Name.Equals("PhotoAttach"))
            {
                PhotoAttach pa = (PhotoAttach)attachment;
                <img class="vk-image" src="@pa.photo_maxSize_url" data-id="@pa.id" data-owner_id="@pa.owner_id" />
            }
        }
    </div>
}
