@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <iframe src="http://vk.com/video-29573241_171341169" width="640" height="360" frameborder="0"></iframe>
    </div>
</body>
</html>
