@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <img src="https://pp.vk.me/c627520/v627520952/1845e/bRPBibG-kD8.jpg" class="gallery" style="width:200px;height:200px;">
    </div>
</body>
</html>

<script>
    $(".gallery").click(function () {
        this.style.zoom * 3;
    })
</script>