@{
    ViewBag.Title = "Главная страница";
}

@if (!Request.IsAuthenticated)
{
    <h3>Для начала работы с инструментом маркетинга необходимо быть авторизованным на сайте!</h3>
}
<h3>Наш инструмент предоставляет следующие возможности:</h3>
<ol class="round">
    <li class="one">
        <h5>Маркетинг в социальных сетях</h5>
        Подключите свои социальные аккаунты и размещайте свой контент автоматически.
        <a href="">Узнать больше...</a>
    </li>

    <li class="two">
        <h5>E-mail рассылка</h5>
        Сформируйте правила рассылки, выберите аудиторию и осуществляйте e-mail рассылку автоматически.
        <a href="">Узнать больше</a>
    </li>
</ol>
